	{% load static %}

<!--
<h3>Hello World!</h3>

<img src="{% static 'images/89615.png' %}">

-->
<!DOCTYPE html>
<html>
<head>
	<title>Shrikanth Rohith</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">

		<div class="row">

			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id = "profile-pic" src="{% static 'images/pic3.jpg' %}">
					<hr>
					<h4>Hi! I'm Shrikanth.</h4>
					<p>I like coding and learning new Technologies.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100 border-info">
					<h4>About Myself!</h4>
					<p>I am currently pursuing a degree in Information Technology from VNR VJIET. I chose that field of study because I’ve always been interested in math and computers, and a couple of family members told me it leads to great career options.</p>
					<hr>
					<p>
						One of my key accomplishments during my academic career was taking lead of a project which I was doing on the field of IOT. This led to an internship that I have mentioned below, so I’m actively looking for a full-time position now.
					</p>
					<hr>
					<ul class="social-links" style="padding: 0;list-style-type: none;">
						<li><a href="https://github.com/Hitro147" target="_blank"><img class="social" src="{% static 'images/GitHub-Mark-64px.png' %}"></a></li>
						<li><a href="https://www.instagram.com/hitro147/" target="_blank"><img class ="social" src="{% static 'images/glyph-logo_May2016.png' %}"></a></li>
						<li><a href="https://www.youtube.com/channel/UC3xAHXQFlGsoT2rjwVd8v7g?view_as=subscriber" target="_blank"><img class="social" src="{% static 'images/youtube_social_circle_dark.png' %}"></a></li>
						<li><a href="https://leetcode.com/hitro" target="_blank"><img class="social" src="{% static 'images/leetcode.png' %}"></a></li>
					</ul>
				</div>
			</div>

		</div>

		<br>

		<div class="row">

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h4>My Experience</h4>
					<ul>
						<li><b>Solbots Technologies Pvt. Ltd., Hyderabad — IOT intern</b>
							<ul>
								<li>
									Led a team of six  and created a working prototype which is capable of visualizing heartbeat using a microphone when placed on the chest. Which when completed could solve the problems of more than 500,000+ people.
								</li>
							</ul>
						</li>
						<hr>
						<li><b>4K Tech Pvt. Ltd., Hyderabad — Networking intern</b>
							<ul>
								<li>
									Worked on  Routing, IP Protocols, non-technical work, basic monitoring, and troubleshooting
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h4>Achievements</h4>
					<ul>
						<li>
							Runner-up for J-Hub Hackathon Conducted in JNTUH-Sultanpur.
						</li>
						<hr>
						<li>
							Conducted a workshop on HTML5 and CSS in VNR VJIET.
						</li>
						<hr>
						<li>
							Placed third in an Interstate 48-hour mack-a-thon on Web Development conducted by the Computer Society of India.
						</li>
						<hr>
						<li>
							Participated and stood among the top 10 in  inter-college tennis competition during Sports Fest in VNR Vjiet. 

						</li>
					</ul>
				</div>
			</div>

		</div>

		<br>

		<div class="row">

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h4>Education</h4>
					<ul>
						<li>
							<b>Leela Junior College, Hyderabad — Intermediate</b>
							<ul>
								<li>Completed my Intermediate education with a percentage of 95.5%.</li>
							</ul>
						</li>
						<hr>
						<li>
							<b>VNR Vignana Jyothi, Hyderabad — Bachelor’s in Technology</b>
							<ul>
								<li>Currently studying B-Tech in the branch of Information 
								Technology with a CGPA of 8.6 to date.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h4>Projects</h4>
					<ul>
						<li><b>Heartbeat Sensor and Visualizer — </b>
							<ul>
								<li>Created a prototype capable of visualizing heartbeat 
								using a microphone when placed on the chest.</li>
							</ul>
						</li>
						<hr>
						<li><b>Online Bookstore — </b>
							<ul>
								<li>Created a website for the purchasing of books online using django 
									web framework.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<br>
		<div class="row">

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h4>My Skills</h4>
					<ul>
						<li>Efficient in <b>Python</b> and <b>Java</b> Programming Languages.</li>
						<hr>
						<li>Comfortable with Data Structures and Algorithms.</li>
						<hr>
						<li>Rudimentary knowledge on the Django web framework including 
							HTML5, CSS, and Bootstrap.</li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h4>My Certifications</h4>
					<ul>
						<li>Completed a certification on Data Structures and Algorithms in Java.</li>
						<hr>
						<li>Completed certifications on Python Programming, Data 
						Structures and Algorithms in Python.</li>
					</ul>
				</div>
			</div>
	</div>
	<br>
</body>
</html>